<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhaojisys.dao.app.CustomerMapper">
    <insert id="addCtm" parameterType="customer">
    	insert into customer 
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    		<if test="name!=null">
    			name,
    		</if>
    		<if test="phone!=null">
    			phone,
    		</if>
    		<if test="address!=null">
    			address,
    		</if>
    		<if test="company!=null">
    			company,
    		</if>
    		<if test="createTime!=null">
    			createTime,
    		</if>
    		<if test="updateTime!=null">
    			updateTime,
    		</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
    		<if test="name!=null">
    			#{name},
    		</if>
    		<if test="phone!=null">
    			#{phone},
    		</if>
    		<if test="address!=null">
    			#{address},
    		</if>
    		<if test="company!=null">
    			#{company},
    		</if>
    		<if test="createTime!=null">
    			#{createTime},
    		</if>
    		<if test="updateTime!=null">
    			#{updateTime},
    		</if>
    	</trim>
    </insert>
</mapper>