<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhaojisys.dao.app.ParamMapper">
   <select id="param" resultType="Paramatersetting">
   		SELECT tyreBrand,typrMaterial,typrSpec
		FROM paramatersetting
   </select>
	
</mapper>