<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhaojisys.dao.ZhandianSum.ZhandianSumMapper">
	<!--燃油站点查询当月燃油交易额，交易量,可提取額 -->
	<select id="findOilSum" resultType="Oilrecord">
		select sum(o.income) AS income,count(o.id) AS id
		from oilrecord AS o
		where
		date_format(operationTime,'%Y-%m')=date_format(now(),'%Y-%m') and
		gsId=#{gsId} 	and infotype=2	
	</select>
	<!--燃油站点查询当月燃油可提取額 -->
	<select id="findOilSumDrawMonth" resultType="Extractapply">
		select SUM(amountDrawn) as amountDrawn
		from extractapply 
		where
		date_format(approveData,'%Y-%m')=date_format(now(),'%Y-%m') and
		gsId=#{gsId} and status=1 and businessType=0	
	</select>

<!--燃油站点查询总燃油交易额，交易量-->
	<select id="findOilSum2" resultType="Oilrecord">
		select sum(o.income) AS income,count(o.id) AS id
		from oilrecord AS o
		where
		gsId=#{gsId} 	and infotype=2	
	</select>
	<!--燃油站点查询总燃油可提取額 -->
	<select id="findOilSumDrawMonth2" resultType="Extractapply">
		select SUM(amountDrawn) as amountDrawn
		from extractapply 
		where
		gsId=#{gsId} and status=1 and businessType=0
	</select>

	<!--燃油站点查询每天燃油交易额，交易量,可提取額 -->
	<select id="findOilSum3" resultType="Oilrecord">
		select sum(o.income) AS income,count(o.id) AS id,o.operationTime as operationTime
		from oilrecord AS o
		where
		date_format(operationTime,'%Y-%m')=date_format(now(),'%Y-%m') and
		gsId=#{gsId} 	and infotype=2	
		GROUP BY
		DATE(o.operationTime)
	</select>
	<!--燃油站点查询每天燃油可提取額 -->
	<select id="findOilSumDrawMonth3" resultType="Extractapply">
		select amountDrawn ,approveData
		from extractapply 
		where
		date_format(approveData,'%Y-%m')=date_format(now(),'%Y-%m') and
		gsId=#{gsId} and status=1 and businessType=0
		GROUP BY
		DATE(approveData)	
	</select>



<!--燃油站点查询年燃油交易额，交易量,可提取額 -->
	<select id="findOilSum4" resultType="Oilrecord">
		select sum(o.income) AS income,count(o.id) AS id,o.operationTime as operationTime
		from oilrecord AS o
		where
		date_format(operationTime,'%Y')=date_format(now(),'%Y') and
		gsId=#{gsId} 	and infotype=2	
		group by
		date_format(operationTime, '%Y-%m')
	</select>
	<!--燃油站点查询年燃油可提取額 -->
	<select id="findOilSumDrawMonth4" resultType="Extractapply">
		select amountDrawn ,approveData
		from extractapply 
		where
		date_format(approveData,'%Y')=date_format(now(),'%Y') and
		gsId=#{gsId} and status=1 and businessType=0	
		group by
		date_format(approveData, '%Y-%m')
	</select>
	
	
	
</mapper>


